/* h2:first-child는 첫 번째 자식 요소를 선택하지만, h2는 첫 번째 자식이 아니기 때문에 적용되지 않는다. */
/* h2:first-child {
    background: silver;
} */

/* h2:first-of-type는 같은 타입의 요소들 중 첫 번째 h2 요소를 선택한다. */
h2:first-of-type {
    background: silver;
}

/* h2:nth-of-type(2)는 두 번째 h2 요소를 선택한다. */
h2:nth-of-type(2) {
    background: blue;
}