/* 
    부정 선택자(:not)를 활용하면 특정 요소를 제외하고 다른 요소를 선택할 수 있다. 
    예를 들어, h2, p, a 태그의 색상을 green으로 변경하고 싶다면, 
    아래와 같이 h2, p, a { color: green; } 스타일을 사용할 수 있다. 
    하지만 이 방식은 만약 header 안에 다른 요소가 추가될 때마다 
    새로 해당 요소를 선택하여 색상을 변경해야 하는 단점이 있다.
*/

/* h2, p, a {
    color: green;
} */

/* 
    이제 header 안의 모든 자식 요소들에 색상을 적용하려면 universal selector(*)를 사용할 수 있다. 
    하지만 이렇게 작성하면 header 내 모든 요소, 즉 h1도 포함되어 색상까지 바뀌게 된다.
    그래서 h1을 제외하고 나머지 요소들의 색상을 바꾸려면 부정 선택자(:not())를 사용해야 한다.
*/

/* header * {
    color: green;
} */

/* 
    부정 선택자(:not())는 특정 선택자를 제외하고 선택할 수 있게 해준다. 
    아래 코드에서는 h1을 제외한 header 안의 모든 자식 요소들을 선택하여 색상을 green으로 변경한다.
    이렇게 작성하면 header 내에 어떤 요소가 추가되더라도 h1을 제외한 나머지 모든 요소에 스타일이 적용된다.
*/
header *:not(h1) {
    color: green;
}